<ion-header>
  <ion-toolbar style="display:none;" color="primary">
    <ion-buttons slot="end">
      <!-- <ion-menu-button></ion-menu-button> -->
      
  
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <form #form="ngForm">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-padding">
            <ion-grid>
              <ion-item class="itemPadding">
                <ion-input placeholder="CPF" name="cpf" [(ngModel)]="cadastro.cpf" type="text" required>
                </ion-input>
              </ion-item>

              <ion-item class="itemPadding">
                <ion-input placeholder="Email" name="email" [(ngModel)]="cadastro.email" type="text" required>
                </ion-input>
              </ion-item>
              <ion-item class="itemPadding">
                <ion-input name="celular" placeholder="Celular" [(ngModel)]="cadastro.telefone" type="text" ngModel
                  required>
                </ion-input>
              </ion-item>
              <ion-item class="itemPadding">
                <ion-input name="senha" placeholder="Senha" [(ngModel)]="cadastro.senha" type="password" ngModel
                  required>
                </ion-input>
              </ion-item>
              <ion-item class="itemPadding">
                <ion-input name="senha" placeholder="Repetir Senha" [(ngModel)]="cadastro.repetirSenha" type="password"
                  ngModel required>
                </ion-input>
              </ion-item>

            </ion-grid>
            <ion-checkbox size="small" style="padding-top: 5%; padding-left: 25%;"  (click)="termosUso()">Eu aceito os termos
              <br>e política de privacidade.</ion-checkbox>

            <div style="padding-top: 20px; padding-bottom: 20px;">
              <ion-button size="medium" color="primary" [disabled]="form.invalid" expand="block"
                shape="round">Cadastrar</ion-button>
            </div>
            <div style="text-align: center; padding-top: 7px;">
              <ion-label (click)="login()" style="color: #8147ff;font-weight: 700;">Esqueceu sua senha?</ion-label>
            </div>



          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>