<ion-header>
  <ion-toolbar style="display:none;" color="primary">
    <ion-buttons slot="end">
      <!-- <ion-menu-button></ion-menu-button> -->


    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <form #form="ngForm">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div>
            <ion-grid style="padding-bottom:60%;">
              <ion-item lines="none">
                <ion-input placeholder="CPF" name="cpf" [(ngModel)]="cadastro.cpf" fill="outline" shape="round"
                  type="text" required>
                </ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-input placeholder="Email" name="email" [(ngModel)]="cadastro.email" fill="outline" shape="round"
                  type="text" required>
                </ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-input name="celular" placeholder="Celular" [(ngModel)]="cadastro.telefone" fill="outline"
                  shape="round" type="text" ngModel required>
                </ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-input name="senha" placeholder="Senha" [(ngModel)]="cadastro.senha" fill="outline" shape="round"
                  [type]="senhaVisivel1 ? 'text' : 'password'" ngModel required>
                </ion-input>
                <ion-button slot="end" (click)="alternarTipoSenha1()" fill="clear">
                  <ion-icon *ngIf="senhaVisivel1" name="eye-off"></ion-icon>
                  <ion-icon *ngIf="!senhaVisivel1" name="eye"></ion-icon>
                </ion-button>
              </ion-item>

              <!-- Campo de Repetir Senha -->
              <ion-item lines="none">
                <ion-input name="repetirSenha" placeholder="Repetir Senha" [(ngModel)]="cadastro.repetirSenha"
                  fill="outline" [type]="senhaVisivel2 ? 'text' : 'password'" ngModel required>
                </ion-input>
                <ion-button slot="end" (click)="alternarTipoSenha2()" fill="clear">
                  <ion-icon *ngIf="senhaVisivel2" name="eye-off"></ion-icon>
                  <ion-icon *ngIf="!senhaVisivel2" name="eye"></ion-icon>
                </ion-button>
              </ion-item>


            </ion-grid>

            <ion-label size="small" style="color: #313131; font-weight: bold; padding-left: 25%; padding-bottom: 20%;"
              (click)="LerTermosUso()">Ler termos de uso de usuário</ion-label>
            <ion-checkbox size="small" style=" padding-left: 25%; padding-top: 15%; padding-bottom: 5%;"
              (click)="LerTermosUso()">Eu aceito
              os
              termos
              <br>e política de privacidade.</ion-checkbox>


            <div style="padding-top: 5%; padding-bottom: 5%;">
              <ion-button size="medium" color="primary" [disabled]="form.invalid" expand="block"
                shape="round">Cadastrar</ion-button>
            </div>
            <div style="text-align: center; padding-top: 7px;">
              <ion-label (click)="login()" style="color: #8147ff;font-weight: 700;padding-bottom: 5%;">Esqueceu sua
                senha?</ion-label>
            </div>



          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>