.login-button {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    color: #000;
}
  
.login-button img {
    max-width: 50%;
    height: auto;
}

.boldLabel{
    font-weight: 650;
}

.itemPadding{
    padding-top: 5px;
    padding-bottom: 13px;
}