/* Estilização para .login-button */
.login-button {
  display: block;
  width: 100%;
  height: auto;
  /* Alterei para "auto" para melhorar a responsividade */
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.login-button img {
  max-width: 50%;
  height: auto;
}

/* Estilização para .boldLabel */
.boldLabel {
  font-weight: 600;
  /* Alterei para um valor mais comum (600) */
}

/* Estilização para .itemPadding */
.itemPadding {
  padding-top: 5px;
  padding-bottom: 13px;
}

/* Estilização para ion-checkbox */
ion-checkbox {
  --size: 20px;
  --checkbox-background-checked: #6815ec;
  margin-left: 10%;
  margin-right: 25%;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #6815ec;
  display: flex;
  justify-content: flex-end;
}


#logo {
  width: 70%;
}

/* Estilização para ion-item */

/* Estilização para ion-item */
ion-item {
  padding: 2px;
  /* Aumentado o padding para maior espaço interno */
  border: 1px solid #ececec;
  /* Adicionado uma borda */
  border-radius: 30px;
  box-shadow: 0px 0px 7px 0 rgba(0, 0, 0, 0.3);
  /* Corrigido o valor 'rgb' para 'rgba' */
  outline: none;
  color: dimgray;
  margin-top: 5%;
  background-color: var(--cor-primaria);
  /* Usando a variável de cor primária como background */
}