<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <!-- <ion-menu-button></ion-menu-button> -->
      <ion-button *ngIf="theme.tema == 1" (click)="enableLight()">
        <ion-icon name="sunny"></ion-icon>
      </ion-button>
      <ion-button *ngIf="theme.tema == 0" (click)="enableDark()">
        <ion-icon name="moon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form #form="ngForm" (ngSubmit)="autenticarPessoa()">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <!-- <h1>Child Finder</h1> -->
            <img *ngIf="theme.tema == 0" src="assets/images/logo.png" alt="">
            <img *ngIf="theme.tema == 1" src="assets/images/logoDark.png" alt=""> 
          </div>
          <div class="ion-padding">
            <ion-grid> 
              <ion-label class="boldLabel">Email</ion-label>
              <ion-item class="itemPadding">
                <ion-input name="email" [(ngModel)]="login.email"
                  type="text" required>
                </ion-input>
              </ion-item>
              <ion-label class="boldLabel">Senha</ion-label>
              <ion-item class="itemPadding"> 
                <ion-input name="senha" [(ngModel)]="login.senha"
                  type="password" ngModel required>
                </ion-input>
              </ion-item>
              <div *ngIf="theme.tema == 0" style="color:#5a37c3;text-align: right;text-decoration: underline;">
                <small (click)="esqueceuSenha()">Esqueceu sua senha?</small>
              </div>
              <div *ngIf="theme.tema == 1" style="color:#eeeeee;text-align: right;text-decoration: underline;">
                <small (click)="esqueceuSenha()">Esqueceu sua senha?</small>
              </div>

              <div style="padding-top: 20px; padding-bottom: 20px;">
                <ion-button size="large" color="primary" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
              </div>
    
              <div *ngIf="theme.tema == 0" style="color:#a1a1a1;text-align: center;">
                <small>———————————— ou ————————————</small>
              </div>
              <div *ngIf="theme.tema == 1" style="color:#bebebe;text-align: center;">
                <small>———————————— ou ————————————</small>
              </div>

              <ion-grid style="padding-top: 5px;">
                <ion-row>
                  <ion-col size="4">
                    <a (click)="loginWithGoogle()" class="login-button">
                      <img src="assets/svg/Google.svg" alt="Google">
                    </a>
                  </ion-col>
                  <ion-col size="4" style="margin-top: 2px;">
                    <a (click)="loginWithFacebook()" class="login-button">
                      <img src="assets/svg/Facebook.svg" alt="Facebook">
                    </a>
                  </ion-col>

                  <ion-col size="4" *ngIf="theme.tema == 0" style="margin-top: -8px;">
                    <a (click)="loginWithApple()" class="login-button">
                      <img src="assets/svg/Apple_black.svg" alt="Apple">
                    </a>
                  </ion-col>

                  <ion-col size="4" *ngIf="theme.tema == 1" style="margin-top: -8px;">
                    <a (click)="loginWithApple()" class="login-button">
                      <img src="assets/svg/Apple_grey.svg" alt="Apple">
                    </a>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <div style="text-align: center; padding-top: 7px;">
                <ion-label>Precisa de uma conta? </ion-label>
                <ion-label (click)="cadastro()" style="color: #38b6ff;font-weight: 700;">Cadastre-se</ion-label>
              </div>


            </ion-grid>
          </div> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>