// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #5a37c3; //044F8F
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #6b41e9;
  --ion-color-primary-tint: #8147ff;

  /** secondary **/
  --ion-color-secondary: #329CD7; // 3dc2ff
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #2b8ec3; // 36abe0
  --ion-color-secondary-tint: #3fb4f4; // 50c8ff

  /** tertiary **/
  --ion-color-tertiary: #213466; // 5260ff
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #22376c; // 4854e0
  --ion-color-tertiary-tint: #253b73; // 6370ff

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #e81f3a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c71f36;
  --ion-color-danger-tint: #ed3d54;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

// @media (prefers-color-scheme: light ) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  // body[class="dark"] {
  body.dark {
    --ion-color-primary: #5a37c3;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #6b41e9;
    --ion-color-primary-tint: #8147ff;

    --ion-color-secondary: #1074aa; // 3dc2ff
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #0d5f8b; // 36abe0
    --ion-color-secondary-tint: #1e88c2; // 50c8ff
    
    --ion-color-tertiary: #213466; // 5260ff
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #22376c; // 4854e0
    --ion-color-tertiary-tint: #253b73; // 6370ff

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #e81f3a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #c71f36;
    --ion-color-danger-tint: #ed3d54;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body.dark {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    // --ion-color-step-50: #0d0d0d;
    // --ion-color-step-100: #1a1a1a;
    // --ion-color-step-150: #262626;
    // --ion-color-step-200: #333333;
    // --ion-color-step-250: #404040;
    // --ion-color-step-300: #4d4d4d;
    // --ion-color-step-350: #595959;
    // --ion-color-step-400: #666666;
    // --ion-color-step-450: #737373;
    // --ion-color-step-500: #808080;
    // --ion-color-step-550: #8c8c8c;
    // --ion-color-step-600: #999999;
    // --ion-color-step-650: #a6a6a6;
    // --ion-color-step-700: #b3b3b3;
    // --ion-color-step-750: #bfbfbf;
    // --ion-color-step-800: #cccccc;
    // --ion-color-step-850: #d9d9d9;
    // --ion-color-step-900: #e6e6e6;
    // --ion-color-step-950: #f2f2f2;

    --ion-color-step-50: #3f3f3f;
    --ion-color-step-100: #4b4b4b;
    --ion-color-step-150: #686868;
    --ion-color-step-200: #797979;
    --ion-color-step-250: #7a7a7a;
    --ion-color-step-300: #868686;
    --ion-color-step-350: #8b8b8b;
    --ion-color-step-400: #969696;
    --ion-color-step-450: #acacac;
    --ion-color-step-500: #afafaf;
    --ion-color-step-550: #cecece; 
    --ion-color-step-600: #dbdbdb;
    --ion-color-step-650: #d1d1d1;
    --ion-color-step-700: #dddddd;
    --ion-color-step-750: #e2e2e2;
    --ion-color-step-800: #e9e9e9;
    --ion-color-step-850: #ebebeb;
    --ion-color-step-900: #f3f3f3;
    --ion-color-step-950: #ffffff;

    --ion-item-background: #313338;

    --ion-card-background: #313338;

    --ion-split-pane-background: #1e1e1e;

    --ion-menu-background: #1e1e1e;

    --ion-toolbar-background: #25272b;

    --ion-tab-bar-background: #232428;

  }

  .ios ion-modal.dark {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body.dark {
    --ion-background-color: #25272b; // 121212
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    // --ion-color-step-50: #1e1e1e;
    // --ion-color-step-100: #2a2a2a;
    // --ion-color-step-150: #363636;
    // --ion-color-step-200: #414141;
    // --ion-color-step-250: #4d4d4d;
    // --ion-color-step-300: #595959;
    // --ion-color-step-350: #656565;
    // --ion-color-step-400: #717171;
    // --ion-color-step-450: #7d7d7d;
    // --ion-color-step-500: #898989;
    // --ion-color-step-550: #949494; 
    // --ion-color-step-600: #a0a0a0;
    // --ion-color-step-650: #acacac;
    // --ion-color-step-700: #b8b8b8;
    // --ion-color-step-750: #c4c4c4;
    // --ion-color-step-800: #d0d0d0;
    // --ion-color-step-850: #dbdbdb;
    // --ion-color-step-900: #e7e7e7;
    // --ion-color-step-950: #f3f3f3;

    --ion-color-step-50: #3f3f3f;
    --ion-color-step-100: #4b4b4b;
    --ion-color-step-150: #686868;
    --ion-color-step-200: #797979;
    --ion-color-step-250: #7a7a7a;
    --ion-color-step-300: #868686;
    --ion-color-step-350: #8b8b8b;
    --ion-color-step-400: #969696;
    --ion-color-step-450: #acacac;
    --ion-color-step-500: #afafaf;
    --ion-color-step-550: #cecece; 
    --ion-color-step-600: #dbdbdb;
    --ion-color-step-650: #d1d1d1;
    --ion-color-step-700: #dddddd;
    --ion-color-step-750: #e2e2e2;
    --ion-color-step-800: #e9e9e9;
    --ion-color-step-850: #ebebeb;
    --ion-color-step-900: #f3f3f3;
    --ion-color-step-950: #ffffff;

    --ion-item-background: #313338;

    --ion-card-background: #313338;

    --ion-split-pane-background: #1e1e1e;

    --ion-menu-background: #1e1e1e;

    --ion-toolbar-background: #25272b;

    --ion-tab-bar-background: #232428;

  }
