<ion-tabs>
  <!-- <ion-router-outlet></ion-router-outlet> -->

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <!-- Home -->
    </ion-tab-button>

    <ion-tab-button tab="localizacao">
      <ion-icon name="location"></ion-icon>
        <!-- Mapa -->
    </ion-tab-button>

    <!-- <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      Library
    </ion-tab-button> -->

    <ion-tab-button tab="user">
      <ion-icon name="person"></ion-icon>
      <!-- Usuario -->
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>