<!-- <ion-header>
  <ion-toolbar style="display:none;">
    <ion-title style="display:none;">Início</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Coluna para o item "Início" -->
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label style="padding-right: 25%;"><strong>Início</strong></ion-label>
        </ion-item>
      </ion-col>

      <!-- Coluna para o item "Lupa" com ícone -->
      <ion-col size="3">
        <ion-item lines="none">
          <ion-icon slot="end" name="search"></ion-icon>
        </ion-item>
      </ion-col>

      <!-- Coluna para o item "3 pontos" com ícone -->
      <ion-col size="3">
        <ion-item lines="none">
          <ion-icon slot="end" name="ellipsis-vertical"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-grid>
      <!-- Coluna para o botão "Locais" com ícone -->
      <ion-col size="12">
        <ion-label expand="full">
          <ion-icon slot="start" name="location"></ion-icon>
          Locais
        </ion-label>
        <ion-select placeholder="Filtro (Todos)"></ion-select>
        <ion-select-option value="todos">Todos</ion-select-option>
        <ion-select-option value="filtro1">Filtro 1</ion-select-option>
        <ion-select-option value="filtro2">Filtro 2</ion-select-option>
      </ion-col>
    </ion-grid>


    <ion-row>

      <ion-card *ngFor="let e of empresas" (click)="selecionarEmpresa(e)" style="width: 100%;"
      class="purple-outile">
        <ion-card-header>
          <ion-card-title><strong>{{e.empresa}}</strong></ion-card-title>
          <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
        </ion-card-header>
        <ion-card-content>
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img [src]="e.imagem" alt="" id="logo">
              <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" /> -->
            </ion-thumbnail>
            <!-- <ion-label><strong>{{e.empresa}}</strong></ion-label> -->
            <ion-label>{{e.descricao}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      
    </ion-row>


  </ion-grid>
</ion-content>